/*
    video style
 */

.video {
  background: $dark-grey;
  padding-bottom: 41px;

  @include mq(md) {
    padding-bottom: 23px;
  }

  @include mq(xs) {
    padding-bottom: 0;
  }

  &__content {
    position: relative;

    img.boot {
      position: absolute;
      top: -62px;
      left: -55px;
      z-index: 10;
      pointer-events: none;

      @include mq(md) {
        display: none;
      }
    }

    figure.clip {
      width: 600px;
      height: 350px;
      position: relative;
      top: -21px;
      margin-left: auto;
      cursor: pointer;

      @include mq(md) {
        top: -10px;
        margin: 0 auto;
      }

      @include mq(s) {
        width: 100%;
        max-width: 600px;
        height: auto;
        padding-bottom: 57%;
      }

      img {
        filter: blur(2px);
        transition: all 0.5s ease-in-out;
        z-index: 11;
      }

      iframe {
        z-index: 11;
      }

      .video-play {
        width: 79px;
        height: 78px;
        background: url("../img/video/video-play.png") no-repeat center/cover;
        box-shadow: $shadow2;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 12;
        transition: all 0.5s ease-in-out;

        @include mq(xs) {
          width: 38px;
          height: 37px;
        }
      }

      &:hover {

        img {
          filter: blur(0px);
        }

        .video-play {

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }

      &:before, &:after {
        content: "";
        display: block;
        background: url("../img/pine-cone.png") no-repeat center/cover;
        position: absolute;
        cursor: auto;
      }

      &:before {
        width: 628px;
        height: 420px;
        top: -113px;
        left: -270px;

        @include mq(md) {
          width: 202px;
          height: 135px;
          top: -40px;
          left: -76px;
        }
      }

      &:after {
        width: 312px;
        height: 208.67px;
        transform: rotate(158.95deg);
        bottom: -120.8px;
        right: 25.13px;

        @include mq(xl) {
          right: -110px;
        }

        @include mq(lg) {
          right: -100px;
        }

        @include mq(md) {
          width: 230px;
          height: 153px;
          bottom: -58.42px;
          right: -85.29px;
        }
      }
    }

    h4 {
      max-width: 528px;
      margin: 87px 0 45px;

      @include mq(md) {
        margin: 39px auto 32px;
        text-align: center;
      }
    }

    &-block {
      box-sizing: border-box;
      padding: 0 18.6% 0 22px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include mq(xl) {
        padding-right: 13%;
      }

      @include mq(lg) {
        padding-right: 22px;
      }

      @include mq(md) {
        padding: 0;
      }

      @include mq(s) {
        flex-wrap: wrap;
      }

      figure {

        @include mq(s) {
          width: 47%;
          margin-bottom: 40px;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 240px;
          margin: 0 auto 40px;
        }

        span {
          display: block;
          width: 70px;
          height: 70px;
          background: #364a59;
          border-radius: 50%;
          margin: 0 auto 11px;
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 45px;
            height: 45px;
            bottom: 2px;
            right: 2px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        p {
          text-align: center;
          color: $light-blue;
        }

        &:first-child {
          margin-top: 67px;

          @include mq(s) {
            margin-top: 0;
          }

          span {

            &:after {
              width: 35px;
              height: 42px;
              background-image: url("../img/video/1.png");
              bottom: 1.6px;
              right: 7px;
            }
          }
        }

        &:nth-child(2) {

          span {

            &:after {
              background-image: url("../img/video/2.png");
            }
          }
        }

        &:nth-child(3) {
          margin-top: 70px;

          @include mq(s) {
            margin-top: 0;
            margin-bottom: 0;
          }

          @include mq(xs) {
            margin-bottom: 40px;
          }

          span {

            &:after {
              background-image: url("../img/video/3.png");
              right: 4px;
            }
          }
        }

        &:last-child {

          @include mq(s) {
            margin-bottom: 0;
          }

          @include mq(xs) {
            margin-bottom: 40px;
          }

          span {

            &:after {
              width: 72px;
              height: 71px;
              background-image: url("../img/video/4.png");
              bottom: -7.44px;
              right: -10.3px;
            }
          }
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      /* скрыть на md */
      width: 433px;
      height: 108px;
      background: url("../img/video/levis.png") no-repeat center/cover;
      top: 78px;
      left: -178px;

      @include mq(xxl) {
        width: 333px;
        height: 83px;
        left: -75px;
      }

      @include mq(xl) {
        width: 275px;
        height: 68px;
        left: 0;
      }

      @include mq(md) {
        display: none;
      }
    }

    &:after {
      /* скрыть на lg */
      width: 370px;
      height: 739px;
      background: url("../img/video/man.png") no-repeat center/cover;
      top: -100px;
      right: -136px;
      z-index: 12;
      pointer-events: none;

      @include mq(xxl) {
        width: 300px;
        height: 599px;
        top: -85px;
        right: -80px;
      }

      @include mq(xl) {
        width: 250px;
        height: 499px;
        top: -55px;
        right: -30px;
      }

      @include mq(lg) {
        display: none;
      }
    }
  }
}