/*
    font face
 */

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff");
}
$b : "HelveticaNeueCyr-Bold";

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff");
}
$m : "HelveticaNeueCyr-Medium";

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff");
}
$r : "HelveticaNeueCyr-Roman";

$white: #ffffff;
$dark-red: #b8243d;
$main-gradient: linear-gradient(180deg, #4d6170 0%, #1f3e54 100%);
$light-blue: #aabac7;
$color-gradient: linear-gradient(180deg, #b8243d 0%, #66222e 100%);
$yellow: #ffe500;
$dark-grey: #272c3b;
$button-blue: #00e0ff;
$button-hover: #00b1c9;
$shadow1: 0px 5px 5px rgba(0, 0, 0, 0.3);
$shadow2: 0px 0px 10px rgba(0, 0, 0, 0.3);
$inner-shadow: inset 0px 0px 4px 2px rgba(0, 38, 44, 0.6);